

.jumbotron{
    padding-top: 6rem ;
    background-color: #bfd7e7;
}

#about{
    background-color: #0099ff;
    padding-top: 5rem;
}



#Experience{
    background-color: #bfd7e7;
    padding-top: 5rem;
}

#contact{
    padding-top: 5rem;
    background-color: #bfd7e7;
}